/* Importación de fuentes de google fonts */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* INICIO DEL DISEÑO  HEADER */
header {
    max-width: 2500px;
    width: 100vw;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid black;
}

.header-logo {
    margin-left: 5%;
    margin-right: auto;
}

.header-logo a {
    text-decoration: none;
    font-size: 1.5rem;
}

.header-logo a h2 {
    color: #0000ff;
}

.header-logo a h2 span {
    color: rgb(255, 0, 0);
}

header .header-links {
    margin-right: 2%;
    margin-left: auto;

}

.header-links a {
    font-size: 1.4rem;
    color: rgb(0, 0, 255);
    text-decoration: none;
    margin: 10px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}

.header-links a.active {
    color: #ff0101;
    border-bottom-color: rgb(0, 0, 0);
}


/* FIN DEL DISEÑO HEADER */
/* Inicio de la seccion contactanos */

main {
    margin-top: 4rem;
    max-width: 2500px;

}

.contenedor_contacto {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background: #f7f7f7fa;
    background: #fbfbfb;
    padding: 1rem;

    & .left_section {
        margin-top: 2rem;
        width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 3rem;
     

        & .left_section_span {
            width: 100%;



            & h2 {
                font-size: clamp(1rem, 5vw, 2.2rem);
                color: #0000ff;
                margin-bottom: 1rem;

            }

            & .left_section_datos {
                width: 80%;
                display: grid;
                row-gap: 0.5rem;

                & h3 {
                    font-size: 1.7rem
                }

                & p {
                    font-size: 1.5rem;

                }
            }
        }
    }



    /* Formulario de contacto */



    & .right_section {
        width: 40vw;
        margin-top: 3rem;
      


        & .contact_form {
            height: auto;
            padding: 1rem;

            input {
                background-color: #fbfbfb;
                width: 408px;
                height: 40px;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: rgb(0, 0, 255);
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }


            textarea {
                background-color: #fbfbfb;
                width: 405px;
                height: 150px;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: rgb(0, 0, 255);
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
                padding-top: 15px;
            }


            label {
                display: block;
                float: center;
            }


            button {
                height: 45px;
                padding-left: 5px;
                padding-right: 5px;
                margin-bottom: 20px;
                margin-top: 10px;
                text-transform: uppercase;
                background-color: rgb(0, 0, 255);
                border-color: rgb(0, 0, 255);
                border-style: solid;
                border-radius: 10px;
                width: 420px;
                cursor: pointer;
            }


            button p {
                color: #fff;
            }


            span {
                color: rgb(255, 0, 0);
            }


            .aviso {
                font-size: 13px;
                color: #0e0e0e;
            }


            h1 {
                font-size: 39px;
                text-align: letf;
                padding-bottom: 20px;
                color: rgb(0, 0, 255);
            }
        }
    }

    /* h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
} */


    p {
        font-size: 1.5rem;
        color: #0e0e0e;

    }


    ::-webkit-input-placeholder {
        color: #a8a8a8;
    }


    ::-webkit-textarea-placeholder {
        color: #a8a8a8;
    }


    .formulario input:focus {
        outline: 0;
        border: 1px solid #ff0000;
    }


    .formulario textarea:focus {
        outline: 0;
        border: 1px solid #ff0000;


    }

    /* Fin de la seccion contactanos */
}

/* Inicio del FOOTER  */


.container_footer {
    max-width: 2500px;
    width: 100vw;
    margin-top: 2rem;

}

.footer_design {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0rem;

}

.footer-links {
    width: 30%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links h4 {
    font-size: clamp(0.7rem, 5vw, 1.4rem);
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: clamp(0.5rem, 4.2vw, 1.2rem);
    text-decoration: none;
    color: #000000;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    padding-left: 6px;
}

.footer-links ul li a img {
    height: 1.2rem;
    width: 1.2rem;
}

.social-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;

}

.social-link img {
    min-height: 2em;
    width: 2em;
    margin: 0.5em;
    color: #ffffff;
}

.social-link img:hover {
    background-color: #ffffffce;
    scale: 1.2;
}

/* -----------FOOTER derechos de Autor----------- */
.footer_derechos {
    width: 100vw;
    max-width: 2500px;
    background: black;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
}

.footer_derechos p {
    font-size: clamp(0.7rem, 2vw, 1.4rem);
    color: #ffffff;
}


/* FIN del FOOTER  */