* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
 }
  
  /* -------------------INICIO DEL DISEÑO  HEADER---------------------- */
  header {
    max-width: 2500px;
    width: 100vw;
    height: 4rem;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid black;
  
  }
  
  .header-logo {
    margin-left: 5%;
    margin-right: auto;
  }
  
  .header-logo a {
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .header-logo a h2 {
    color: #0000ff;
  }
  
  .header-logo a h2 span {
    color: rgb(255, 0, 0);
  }
  
  header .header-links {
    margin-right: 2%;
    margin-left: auto;
  
  }
  
  .header-links a {
    font-size: 1.4rem;
    color: rgb(0, 0, 255);
    text-decoration: none;
    margin: 10px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
  }
  
  .header-links a:hover {
    color: rgba(0, 0, 255, 0.795);
  }
  
  .header-links a.active {
    color: #ff0000;
    border-bottom-color: rgb(0, 0, 0);
  }
  
  /* FIN DEL DISEÑO HEADER */
  main {
    margin-top: 4rem;
    max-width: 2500px;
}

.container_nosotros {
    width: 100%;
    padding: 5%;
    max-width: 2500px;
    background: #ffffff;

}

.pc-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nosotros-left-content {
    width: 40%;
    display: grid;
    place-items: center;
    animation: slideInLeft 1s ease-out forwards;

}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.nosotros-left-content img {
    width: 300px;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
      
}

.nosotros-right-content {
    background: #ffffff;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.nosotros-right-content h2 {
    color: #0000ff;
    font-size: 3rem;
    line-height: 6rem;
}

.nosotros-right-content h2 span {
    color: rgb(255, 0, 0);
}

.nosotros-right-content p {
    font-size: 1.3rem;
    text-align: justify
}

/* Fin del Nosotros */

/* Inicio de Mision Y Vision */
.container_mision_vision {
    max-width: 2500px;
    width: 100vw;
    background: #f3f0f0;
    padding: 3rem;
    text-align: center;
}

.mision_vision_design {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.mision,
.vision {
    width: 30%;
    margin: 2rem;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.mision img,
.vision img {
    width: 80px;

}

.mision h3,
.vision h3 {
    font-size: clamp(1.2rem, 20vw, 2rem);
    margin-top: 15px;
    background: linear-gradient(#0000ff, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.mision p,
.vision p {
    margin-top: 1rem;
    color: #000000;
    line-height: 1.4rem;
    text-align: justify;
}

/* Fin de Mision Y Vision */


/* Inicio de Valores */
.valores {
    max-width: 2500px;
    padding: 1rem 0;
    background: #ffffff;
    text-align: center;
    cursor: pointer;

}

.valores_desing {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.valores_desing h3 {
    font-size: clamp(2rem, 5vw, 3rem);
    border-bottom: 3px solid red;
    margin: 1rem;
}

.valores_content {
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin: 0 0 2rem;
    animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.valores-left-content {
    width: 35vw;
}

.valores-left-content img {
    height: 20vw;
    max-width: 650px;
    max-height: 450px;
}

.content_right_valores {
    width: 35vw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(201, 201, 201);

}

.short_content_values {

    width: 35vw;
    
}

.valores_tittle {
    height: 2rem;
    background-color: #ffffff;
    margin: 3px;
    display: flex;
    flex-direction: column;
    place-content: center;
    border-top: 2px solid rgb(201, 201, 201);

}

.valores_tittle h5 {
    text-align: start;
    font-size: clamp(0.7rem, 5vw, 1.4rem);
    display: flex;

}

.valores_tittle h5 img {
    height: 25px;
    width: 25px;
    rotate: 45deg;
    transition: transform 0.3s ease;
}

.valores_concept {
    display: none;
    padding: 0.5rem 1rem;
    text-align: start;
    margin-left: 2rem;
}

.show-concept {
    display: block;
}


.show {
    display: block !important;
}

/* Fin de los Valores*/

/* INICIO DE POR QUE ELEJIRNOS */
.container_elegirnos {
    width: 100vw;
    max-width: 2500px;
    margin: 0;
    padding: 2rem;
    display: grid;
    place-items: center;
    background: #f3f0f0;
}

.elegirnos_desing {
    max-width: 2500px;
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;


}

.left_elejirnos {
    width: 40vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.left_elejirnos h3 {
    font-size: clamp(1.5rem, 5vw, 2.4rem);
    border-bottom: 3px solid red;
    margin: 1rem;
}

.reason {
    width: 40vw;
    max-width: 600px;
    padding: 1rem;
    text-align: justify;
}

.reason p {
    font-size: clamp(1rem, 1vw, 1.7rem);
    overflow: hidden;
}

.right_elejirnos {
    width: 40vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.right_elejirnos h4 {
    font-size: clamp(1.7rem, 5vw, 2.4rem);
    border-bottom: 3px solid red;
    margin: 1rem;

}

.contactos_elejirnos {
    width: 80%;
    text-align: start;
    cursor: pointer;
}

.contactos_elejirnos p {
    text-align: start;
    font-size: clamp(1rem, 5vw, 2rem);
    line-height: 2.5rem
}

.contactos_elejirnos p span {
    color: rgb(255, 0, 0);
    margin-right: 0.5rem;
}

.contactos_elejirnos p:hover {
    padding-left: 6px;
}

/* FIN DE POR QUE ELEJIRNOS */


/* Inicio del FOOTER  */


.container_footer {
    max-width: 2500px;
    width: 100vw;
    padding-top: 2rem;
   

}

.footer_design {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0rem;

}

.footer-links {
    width: 30%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.footer-links h4 {
    font-size: clamp(0.7rem, 5vw, 1.4rem);
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: clamp(0.5rem, 4.2vw, 1.2rem);
    text-decoration: none;
    color: #000000;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    padding-left: 6px;
}

.footer-links ul li a img {
    height: 1.2rem;
    width: 1.2rem;
}

.social-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;

}

.social-link img {
    min-height: 2em;
    width: 2em;
    margin: 0.5em;
    color: #ffffff;
}

.social-link img:hover {
    background-color: #ffffffce;
    scale: 1.2;
}

/* -----------FOOTER derechos de Autor----------- */
.footer_derechos {
    width: 100vw;
    max-width: 2500px;
    background: black;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
}

.footer_derechos p {
    font-size: clamp(0.7rem, 2vw, 1.4rem);
    color: #ffffff;
}


/* FIN del FOOTER  */