/* -------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------*/
/* -------------------Media queries del Header y Footer para todas las Ventanas ----------------------*/
@media only screen and (max-width: 767px) {
    header {
        height: 3rem;
        width: 100vw;
    }

    .header-logo a {
        font-size: 1.2rem;
    }

    #header .header-menu {
        display: none;
    }

    main {
        margin-top: 3rem;

    }



    /* FOOTER */

    .footer_design {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 2rem;

    }

    .footer_design>.footer-links:nth-child(3) ul {
        margin-left: 13%;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        height: 3rem;
        width: 100vw;
    }

    .header-logo a {
        font-size: 0.9rem;
    }

    #header .header-menu {
        display: none;
    }

    main {
        margin-top: 3rem;

    }

    /* FOOTER */
    .footer_design {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 2rem;

    }

    .footer_design>.footer-links:nth-child(3) ul {
        margin-left: 13%;

    }
}

/* --------------------Menu Desplegable Moviles y Tablets---------------------- */
@media only screen and (max-width: 1023px) {
    .header-links {
        position: absolute;
        top: 3rem;
        left: 0;
        background: rgb(253, 253, 253);
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        transform: translateX(-101%);
        transition: 0.3s ease all;
        opacity: 0.9;
    }

    .header-links a {
        padding: 1rem;
        color: rgb(0, 0, 255);
        text-decoration: none;
        margin: 0;
        padding-left: 1.5rem;

    }

    .header-links a.active {
        color: #ff0000;
        border-bottom-color: white;
    }

    .header-menu {
        display: flex !important;
        flex-direction: column;
        margin: 0.4rem;
        padding-right: 0.5rem;
    }

    .header-menu span {
        width: 30px;
        height: 4px;
        background: black;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .header-menu.open span {
        background: black;
    }

    .header-menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .header-menu.open span:nth-child(2) {
        display: none;
    }

    .header-menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }

    .open {
        transform: translateX(0) !important
    }
}

/* -------------------------------------------------------------------------------------------*/
/* -----------------------INICIO DEL Media queries de la Pagina INDEX-------------------------*/
/* -------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    main {
        margin-top: 3rem;

    }

    /* Inicio de la Portada del Index */
    .slider-container {
        height: 85vh;
    }

    .left-content {
        margin-left: 0;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .para {
        padding: 1rem;
    }

    .left-content .stay-home {
        line-height: 2.1rem;

    }

    .left-content h1 {

        margin: 0;
    }

    .left-content .para {
        max-width: 70vw;
        text-align: justify;
        padding: 0.5rem;

        margin-bottom: 1.5rem;


    }

    .left-content button {
        max-width: 40vw;
        padding: 0.8rem;
        font-size: 0.8rem;
    }
    
    /* Fin de la Portada del Index */
    /* Inicio de la Seccion Sobre Nosotros del Index */
    .nosotros_desing {
        height: 40rem;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

    }

    .nosotros-left-content_index {
        width: 100vw;
        position: relative;
    }

    .nosotros-left-content_index h2 {
        font-size: clamp(1.1rem, 20vw, 1.4rem);
        position: absolute;
        bottom: 15rem;
    }
    .prev,
    .next {
      display: none;  /*ELIMINAR DEL DISEÑO MOVIL */
    }
    /* -------------------------SOS---------------------------- */
    /* Ajustar el contenedor del texto para que no se acorte a un ancho estatico */

    .nosotros-left-content_index p {
        position: absolute;
        top: 1rem;
        text-align: justify;

    }

    .nosotros-left-content_index a {
        position: absolute;
        top: 15rem;
    }

    .nosotros-right-content_index {
        width: 100vw;
        position: absolute;
        top: 7rem;
    }

    /* Fin de la Seccion Sobre Nosotros del Index */
    /* Inicio de la Seccion Servicios del Index */
    .container_servicios {
        padding: 5% 7%;

    }

    .tittle_servicios {
        margin-left: 1%;
    }

    .navegacion_servicios {
        display: none;
    }

    .container_cards {
        max-width: 100vw;
        padding: 0.5rem;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        /* Para mejorar el desplazamiento en iOS */
        scroll-behavior: smooth;
        /* Para un desplazamiento suave */

    }

    .servicios_card {
        width: clamp(7rem, 100vw, 10rem);
        scroll-snap-align: start;
    }

    .card_above {
        height: clamp(5rem, 15vh, 10rem);
        overflow: hidden;
    }

    .below {
        height: clamp(8rem, 20vh, 12rem);
        padding: 0.7rem;
    }

    .below h5 {
        font-size: clamp(0.3rem, 4vw, 1rem);

    }

    .below_link p {
        font-size: clamp(0.8rem, 5vw, 1rem);
        /* Fin de la Seccion Servicios del Index */
    }

}

@media only screen and (max-width: 560px) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    main {
        margin-top: 3rem;
        width: 100vw;
    }

    /* Inicio de la Portada del Index */
    .portada {
        margin: 0 4rem;
    }

    .left-content h1 {
        font-size: clamp(2rem, 10vw, 3.2rem);
    }

    .para {
        font-size: clamp(0.7rem, 5vw, 1.2rem);

    }

    .prev img,
    .next img {
        width: 4rem;
        height: 4rem;
    }

    /* Fin de la Portada del Index */
    /* -------------Inicio de la Seccion Sobre Nosotros del Index----------- */
    .nosotros-left-content_index h2 {
        font-size: clamp(1.5rem, 10vw, 2.1rem);

    }

    /* FIN de la Seccion Sobre Nosotros del Index */
    /* --------------Inicio de la seccion Servicios----------  */

    .container_cards {
        padding: 0.5rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        /* Para mejorar el desplazamiento en iOS */
        scroll-behavior: smooth;
        /* Para un desplazamiento suave */
    }
}

/* *************REVISAR LA VISTA MOVIL EN HORIZONTAL************** */

/* -------------------------------------------------------------------------------------------*/
/* -----------------------FIN DEL Media queries de la Pagina INDEX----------------------------*/
/* -------------------------------------------------------------------------------------------*/






/* -------------------------------------------------------------------------------------------*/
/* -----------------------INCIO DEL Media queries de la pagina NOSOTROS-----------------------*/
/* -------------------------------------------------------------------------------------------*/


/* VISTA MOVIL */
@media only screen and (max-width: 767px) {

    /* ---------------INICIO de la seccion NOSOTROS "Nosotros"----------------  */
    .pc-style {
        display: none;
        /* PARA OCULTAR EL pc-style en los dispositivos moviles */
    }

    .container_nosotros {
        width: 100vw;
        height: auto;
        display: grid;
        place-items: center;
    }

    .movil-style {
        display: block !important;

        & .movile-style-content {
            display: grid;
            place-items: center;
            border: 2px solid black;
            padding: 1rem 0;

            & h2 {
                color: rgb(0, 0, 255);
                font-size: clamp(1.5rem, 10vw, 2rem);
                margin-bottom: 1rem;
            }

            & h2 span {
                color: rgb(255, 0, 0);
            }

            & img {
                width: 70vw;
                height: clamp(8rem, 40vh, 12rem);
                border: 2px solid rgb(0, 0, 0);
            }



            & p {
                padding: 2rem;
                font-size: 1.2rem;
                text-align: justify;

            }

        }
    }




    /* FIN de la seccion NOSOTROS "Nosotros"  */
    /* ---------------Inicio de la seccion MISION Y VISION "Nosotros"---------------  */
    .mision_vision_design {
        display: flex;
        flex-direction: column;
        place-items: center;

    }

    .mision,
    .vision {
        width: 70vw;

    }




    /* FIN de la seccion MISION Y VISION "Nosotros"  */
    /* ---------------Inicio de la seccion Valores "Nosotros"---------------  */

    .valores_content {
        display: flex;
        flex-direction: column;
        place-items: center;

    }

    .valores_content {
        width: 80vw;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;

    }

    .valores-left-content,
    .content_right_valores {
        width: 70vw;

    }

    .valores-left-content img {
        width: 60vw;
        height: 30vh;
    }

    .valores_tittle {
        width: 65vw;
        margin-left: 1.5rem;
    }

    .valores_concept {
        width: 65vw;
        padding: 0rem 1rem;

    }

    /* FIN de la seccion Valores "Nosotros" */
    /* Inicio de la seccion Por que elejirnos "Nosotros" */
    .container_elegirnos {
        width: 100vw;
        padding: 2rem 0;

    }

    .elegirnos_desing {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .left_elejirnos {
        width: 100vw;

        & .reason {
            width: 80%;
        }
    }

    .right_elejirnos {
        width: 90vw;

        & .contactos_elejirnos {
            width: 80vw;

        }

        .contactos_elejirnos p {
            margin-left: 1rem;
            font-size: 1rem;
            line-height: 1.7rem
        }

    }
}

/* VISTA TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    main {
        width: 100vw;
    }

    .container_nosotros {
        background-color: #0000ff;

        & .pc-style {
            background-color: #ff0000;
        }
    }
}

/* FIN de la seccion Por que elejirnos "Nosotros" */


/* -------------------------------------------------------------------------------------------*/
/* -----------------------FIN DEL Media queries de la pagina NOSOTROS-------------------------*/
/* -------------------------------------------------------------------------------------------*/




/* -------------------------------------------------------------------------------------------*/
/* ---------------------INICIO DEL Media queries de la pagina SERVICIOS-----------------------*/
/* -------------------------------------------------------------------------------------------*/

/* VISTA MOVIL */
@media only screen and (max-width: 767px) {


    .contenedor-servicios {


        .tittle {
            & h2 {
                font-size: 2rem;
            }

            & span {
                font-size: 2rem;

            }
        }

        & .section-servicios {
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            row-gap: 1.5rem;


            & .img-servicios {
                height: auto;
                width: 80%;
                height: 10rem;
                overflow: hidden;
                border-radius: 50% 50% 0 0;
                animation: none;

            }

            .contenedor-texto {
                width: 100%;
                animation: none;


            }



            & .texto-servicios {
                display: grid;
                place-items: center;
                row-gap: 1rem;
                padding: 5%;

                & h2 {
                    font-size: clamp(1rem, 20vw, 1.5rem);
                    text-align: center;
                    line-height: normal;
                }

                & p {
                    width: 80%;
                    font-size: 1.2rem;
                    text-align: justify;

                }
            }
        }

    }

    & .section-servicios:nth-child(odd) {


        & .img-servicios {
            order: 1;


        }

        & .contenedor-texto {
            order: 2;

        }
    }



}



/* VISTA TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {}


/* -------------------------------------------------------------------------------------------*/
/* ------------------------FIN DEL Media queries de la pagina SERVICIOS-----------------------*/
/* -------------------------------------------------------------------------------------------*/






/* -------------------------------------------------------------------------------------------*/
/* -----------------------INICIO DEL Media queries de la pagina CONTACTANOS-------------------*/
/* -------------------------------------------------------------------------------------------*/

/* VISTA MOVIL */
@media only screen and (max-width: 767px) {

    .contenedor_contacto {
        display: flex;
        flex-direction: column;

        & .left_section {
            width: 90vw;
            margin-top: 0;
            row-gap: 1.5rem;

            & .left_section_span {
                width: 95%;

                & h2 {
                    font-size: clamp(1.6rem, 5vw, 2rem);
                    margin-bottom: 1rem;

                }

                & .left_section_datos {
                    width: 80%;
                    row-gap: 0.2rem;

                    & h3 {
                        font-size: clamp(1.4rem, 5vw, 1.8rem);

                    }

                    & p {
                        font-size: clamp(1.2rem, 5vw, 1.5rem);

                    }
                }

            }

            & .left_section_span:first-child {
                order: 1;
            }

            & .left_section_span:nth-child(2) {
                order: 5;
            }

            & .left_section_span:nth-child(3) {
                order: 3;
            }
        }

        & .right_section {
            width: 90vw;
            background: #85a8ff;
            border-radius: 1rem;
            & .contact_form{
                & input{
                    width: 100%;
                }
                & textarea{
                    width: 100%;
                }
                & button{
                    width: 100%;
                }
            }
        }
    }


}

/* -------------------------------------------------------------------------------------------*/
/* ------------------------FIN DEL Media queries de la pagina CONTACTANOS---------------------*/
/* -------------------------------------------------------------------------------------------*/